/*
orange color: #e67e22;

*/


/*-----------------------------------*/
/* BASIC SETUP */
/*-----------------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color:#555;
    font-family: 'Lato','Arial',sans-serif;/*This means if we do not use the first one(because of the internet), we can use the other.*/
    font-size:20px;
    font-weight:300;/*There are somethings in the html file.*/
    text-rendering:optimizeLegibility;
}

.clearfix {zoom:1}/*clear the float after an element.*/
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*-----------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------*/


.row{
    max-width:1140px;
    margin:0 auto;/*It means top and bottom are 0, others are auto.*/
    /*Or we can define it as margin: margin:0 auto 0 auto.*/
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/*----- HEADINGS -----*/

h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{
    /*margin:0; Because there is a margin for the header because of the normalize.css*/
    margin-top: 0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 240%;/*if we hope to change the size of the font, we can change the 'html' font. This percentage means relative things for every element.*/
    word-spacing: 4px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{/*Words will appear after the h2.*/
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "  ";
    width: 100px;
    margin: 0 auto;
    margin-bottom:30px;
}

/*----- PARAGRAP -----*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;/*calculate it*/
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/*----- ICONS -----*/

.icon-big{
    font-size:400%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block;
    color: #e67e22;
    width: 30px;
    text-align: center;
    font-size: 120%;
    /*First way to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 10px;
}

/*----- LINKS -----*/

a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
    
}

/*----- BUTTONS -----*/

.btn:link,
.btn:visited,
input[type=submit]{/*This called pseudo-classes and it means that an element in its normal state. And when you click the button, the button will not change.*/
    display:inline-block;/*It can be used to transform the inline element to block*/
    font-weight:300;
    text-decoration: none;/*We must get rid of the underline of the text.*/
    border-radius: 200px;  
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;  
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border:1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border:1px solid #e67e22;
    color:#e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #935014;
    border:1px solid #e67e22;
    color: #fff;
}

.btn-full:hover,
.btn-full:active{
    border:1px solid #935014;
    
}

.btn-ghost:hover,
.btn-ghost:active{
    border:1px solid #935014;
}

/*-----------------------------------*/
/* HEADER */
/*-----------------------------------*/


header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);/*to make it darker.*/
    background-size: cover;
    background-position: center;
    height : 100vh; /*It is the 100% viewport.*/
    background-attachment: fixed;
}   

.hero-text-box{
    position:absolute;
    width:1140px;/*same as a row.*/
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);/*This is to translate the elements half of its height and of its width, up and to the left.*/
}

.logo {
    height: 150px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.logo-black{
    display: none;
    height: 100px;
    width: auto;
    float: left;
    margin: 10px 0;
}

.main-nav{
    float: right;
    list-style: none;/*We must get rid of these bullet points.*/
    margin-top: 20px;
}

/*main nav*/

.main-nav li{
    margin: 40px;
    display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;/*get a 18px*/
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

/* Mobile nav */

.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: white;
}

/* Sticky nav */

.sticky{
    position: fixed;/*Always be in one place.*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;/*So the nav is always the top one.*/
}

.sticky .main-nav{
    margin-top: 1px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #555;
}

.sticky .logo{display: none;}
.sticky .logo-black{display: block;}


/*-----------------------------------*/
/* FEATURES */
/*-----------------------------------*/

.section-features .long-copy{
    margin-bottom: 30px;
}


/*-----------------------------------*/
/* MEALS */
/*-----------------------------------*/

.section-meals{
    padding: 0;
}


.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*----- BUTTONS -----*/

.meal-photo img:hover{/*hove not just for link, for everything*/
    opacity: 1.1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}



/*-----------------------------------*/
/* How it works */
/*-----------------------------------*/

.section-steps{
    background-color: #f4f4f4;/*There is a gray color to make it different.*/
}

.steps-box:first-child{/*It can allow us to edit the first of the steps-box elements.*/
    text-align: right;
    padding-right: 3%;
    margin: 30px;
}

.steps-box:last-child{  
    padding-left: 3%;
    margin-top: 70px
}

.app-screen {
    width: 50%;
    height: 300px;
}

.works-step{
    margin-bottom: 50px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-left: 25px;
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
    
}


/*-----------------------------------*/
/* cities */
/*-----------------------------------*/

.section-cities{
    list-style: none;
}

.city-feature{
    margin-bottom: 5px;
}

.cities{
    text-align: left;
    
}

.cities img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    opacity: 70%;
}




/*----- BUTTONS -----*/

.cities img:hover{
    opacity: 100%;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}



/*-----------------------------------*/
/* testmonials */
/*-----------------------------------*/

.section-testmonials{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;/*The image will always be the same place however you scroll the screen.*/
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;/*When we set one element as absolute, we must make sure that parent is relative.*/
    top: -5px;
    left: -5px;
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}



/*-----------------------------------*/
/* SIGN UP*/
/*-----------------------------------*/



.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal{
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
}


/*-----------------------------------*/
/* Form*/
/*-----------------------------------*/


.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline: none;
}




/*-----------------------------------*/
/* Footer*/
/*-----------------------------------*/


footer{
    background-color: #333;
    padding: 45px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
    
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}


.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 170%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}



.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-twitter:hover{
    color: #00aced;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-instagram:hover{
    color: #517fa4;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}



/*-----------------------------------*/
/* animation */
/*-----------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated{
    opacity: 1;
}







